* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  .frontFormat {
    background-color: rgba(17, 17, 17, 0.9803921569);
    color: rgba(219, 219, 219, 0.8980392157);
    border-radius: 50px;
  }

  .frontFormat p {
    text-align: center;
    padding-block: 20px;
  }
  
  .footerFormat {
    background-color: rgba(17, 17, 17, 0.9803921569);
    color: white;
    text-align: center;
    padding-block: 20px;
  }

  .footerFormat h5 {
    line-height: 3;
  }

  .footerFormat p {
    line-height: 0.75;
  }
  
  .formButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
  }

  .formButton button {
    background-color: #721f0a;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 250ms;
  }

  .formButton button:hover {
    background-color: #cf3913;
    transform: scale(1.1);
  }
  
  .bookingForm {
    background-color: white;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 10px;
    color: rgba(17, 17, 17, 0.7333333333);
    padding-block: 20px;
    margin-block: 20px;
  }

  .seleccionado{
    opacity: 0.5;
  }